GAME_SERVICE_PORT=8000
HOROSCOPE_SERVICE_PORT=8001
DEBUG=True

# Kafka
KAFKA_URL=kafka:29092
REDIS_URL=redis://redis:6379/0


CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DB=analytics
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_USER=default